@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .delay-1000 {
    animation-delay: 1s;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-900;
}
